name: Integration Tests

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  integration-tests:
    name: Run integration tests
    runs-on: ubuntu-24.04
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4 

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Restore application dependencies
        run: dotnet restore 

      - name: Build application
        run: dotnet build --property:TreatWarningsAsErrors=true

      - name: Run postgres
        run: docker compose --profile DbOnlyWithoutPgAdmin up -d
      
      - name: Run integration tests
        run: dotnet test --filter "Type=Integration"
